
body{
    background-color: gray;
}
#box{
    margin: 40px auto;
    border: 1px solid gray;
    background-color: #cccaca;
    border-radius: 10px;
    padding: 30px;
    width: 320px;
    height: 350px;
}

h1{
    text-align: center;
}

#result{
    margin: 20px;
    text-align: center;
}

